.text-white {
    color: white;
  }
  
  .bg-gray-700 {
    background-color: #374151;
  }
  
  .bg-gray-800 {
    background-color: #1f2937;
  }
  
  .shadow-lg {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  }
  
  .text-black {
    color: black;
  }
  